<template>
  <base-container title="Vuex"  v-if="isAuth"></base-container>
  <favorite-value  v-if="isAuth"></favorite-value>
  <button @click="addOne"> Add 1 </button>
  <base-container title="Auth" >
  <user-auth></user-auth>
  </base-container>
</template>

<script>
import BaseContainer from './components/BaseContainer.vue';
import FavoriteValue from './components/FavoriteValue.vue';
import UserAuth from './components/UserAuth.vue';

export default {
  components: {
    BaseContainer,
    FavoriteValue,
    UserAuth
  },
  methods: {
    addOne(){
      this.$store.dispatch('increment');
    },
    
  },
  computed:{
    counter(){
      return this.$store.getters.finalCounter;
    },
    isAuth(){
            return this.$store.getters.userIsAuthencicated;
        }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
</style>